{{ 'component-modal-video.css' | asset_url | stylesheet_tag }}
<modal-opener class="no-js-hidden newsletter-popup__launcher" data-modal="#modalNewsletter" {% if section.settings.newsletter_timer != blank %}data-timer="{{ section.settings.newsletter_timer }}" data-open-again="{{ section.settings.newsletter_open_again }}"{% endif %}>
	<div class="subscribe__wrapper"><button type="button" class="link">Show Newsletter popup</button></div>
</modal-opener>
<modal-dialog id="modalNewsletter" class="modal-newsletter gradient color-{{ section.settings.color_scheme }}">
	<div class="modal-newsletter__content" role="dialog" aria-label="{{ block.settings.description | escape }}" aria-modal="true" tabindex="-1">
		<button id="ModalClose-modalNewsletter" type="button" class="modal-video__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
		<div class="modal-newsletter__content-info">
			{% render 'footer-newsletter', section: section, mode: 'popup' %}
		</div>
	</div>
</modal-dialog>

{% schema %}
{
  "name": "t:sections.newsletter-popup.name",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "number",
      "id": "newsletter_timer",
      "label": "t:sections.newsletter-popup.settings.timer.label",
      "default": 5
    },
    {
      "type": "number",
      "id": "newsletter_open_again",
      "label": "t:sections.newsletter-popup.settings.open_again.label",
      "default": 7
    },
    {
      "type": "header",
      "content": "t:sections.newsletter-popup.settings.content.header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.newsletter-popup.settings.content.title.label",
      "default": "subscribe to our newsletter"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.newsletter-popup.settings.content.description.label",
      "default": "<p>Join Our Exclusive Newsletter to discover the latest hampers, Insider Updates, and Special Offers!</p>"
    },
    {
      "type": "richtext",
      "id": "legal_checkbox",
      "label": "t:sections.newsletter-popup.settings.content.legal_checkbox.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter-popup.presets.name"
    }
  ]
}
{% endschema %}

